<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>
<body>
<h2>Home Page</h2> 
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur qui suscipit voluptatem quis eligendi quos incidunt eum nobis, ratione, dignissimos excepturi debitis optio, quo nesciunt nam odit exercitationem asperiores unde!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde excepturi impedit aspernatur debitis eaque beatae corporis numquam voluptatum, accusantium perferendis id vitae molestias. Accusamus quaerat, delectus aliquid cupiditate eaque nobis?
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur qui suscipit voluptatem quis eligendi quos incidunt eum nobis, ratione, dignissimos excepturi debitis optio, quo nesciunt nam odit exercitationem asperiores unde!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde excepturi impedit aspernatur debitis eaque beatae corporis numquam voluptatum, accusantium perferendis id vitae molestias. Accusamus quaerat, delectus aliquid cupiditate eaque nobis?
</p>
</body>
</html>

